/* font */
@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Noto Serif', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Marcellus', serif;
*/

:root {
  font-size: 14px;
  line-height: 1.5;
  font-family: 'Noto Sans KR', sans-serif;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

body, header, footer,main, section, aside, button, input, div, video, ul, li, h1, h2, h3, h4, span, p, figure, img, a {
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  color: #222222;
  text-decoration: none;
}

body {
  overflow-x: hidden;
  position: relative;
}

/* header */
header {
  width: 100%;
  height: 80px;
  background: white;
  z-index: 999;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border 0.4s;
  border-bottom: 1px solid white;
}

header .gnb ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .gnb ul li {
  width: 150px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

header .gnb ul li a {
  font-family: 'Marcellus', serif;
  font-size: 18px;
  letter-spacing: -0.28px;
  position: relative;
  line-height: 27px;
}

header .gnb ul li a::after {
  content: "";
  display: block;
  position: absolute;
  background: #222222;
  width: 0;
  height: 1.5px;
  bottom: 0px;
  left: 50%;
  transition: width 0.4s, left 0.4s;
}

header .gnb ul li a:hover::after {
  left: 0;
  width: 100%;
}

header .gnb ul li .active::after {
  left: 0;
  width: 100%;
}

header:hover {
  border-bottom: 1px solid rgb(221, 221, 221);
}

.header_on {
  border-bottom: 1px solid rgb(221, 221, 221);
}

@media screen and (max-width: 600px) {
  header {
    height: 50px;
  }
  header .gnb ul li {
    width: 100px;
  }
  header .gnb ul li a {
    font-size: 16px;
    line-height: 25px;
  }
}
