

.intro {
  padding-top: 140px;
  width: calc(100% - 30px);
  max-width: 1200px;
  margin: auto;
}

.intro .title {
  padding-bottom: 60px;
}

.intro .title h1 {
  font-family: 'Marcellus', serif;
  font-size: 55px;
  text-align: left;
  font-weight: 400;
}

.intro ul li {
  width: calc(50% - 10px);
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 70px;
  opacity: 0;
  transform: translateX(-40px);
}

.intro ul .intro_content_on:nth-child(1) {
  animation: opening1 1.2s forwards;
}
.intro ul .intro_content_on:nth-child(2) {
  animation: opening1 1.2s 0.2s forwards;
}
.intro ul .intro_content_on:nth-child(3) {
  animation: opening1 1.2s 0.4s forwards;
}
.intro ul .intro_content_on:nth-child(4) {
  animation: opening1 1.2s 0.6s forwards;
}

@keyframes opening1 {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.intro ul li .img {
  width: 200px;
  min-width: 200px;
  height: 330px;
  overflow: hidden;
  margin-right: 30px;
}

.intro ul li .img figure img {
  width: 200px;
  height: 330px;
  transition: transform 0.5s;
  transform: scale(1.1);
}

.intro ul li .text {
  margin-bottom: 5px;
}

.intro ul li .text .intro_title {
  padding-bottom: 40px;
}

.intro ul li .text h1 {
  display: inline-block;
  font-family: 'Marcellus', serif;
  font-size: 36px;
  font-weight: 400;
  position: relative;
}

.intro ul li .text h1::after {
  content: "";
  display: block;
  position: absolute;
  background: #222222;
  width: 0;
  height: 1.5px;
  bottom: 0px;
  left: 0;
  transition: width 0.5s;
}

.intro ul li .text span {
  letter-spacing: -0.32px;
  font-size: 16px;
  color: #666666;
}

.intro ul li:hover .text h1::after {
  width: 100%;
}

.intro ul li:hover .img figure img {
  transform: scale(1);
}

@media screen and (max-width: 1213px) {
  .intro .title h1 {
    font-size: 45px;
  }
  .intro ul li {
    margin-bottom: 50px;
  }
  .intro ul li .img {
    margin-right: 20px;
  }
  .intro ul li .text .intro_title {
    padding-bottom: 30px;
  }
  .intro ul li .text h1::after {
    height: 1px;
  }
  .intro ul li .text h1 {
    font-size: 32px;
  }
  .intro ul li .text span {
    font-size: 14px;
  }
}

@media screen and (max-width: 1107px) {
  .intro {
    padding-top: 100px;
  }
  .intro .title {
    padding-bottom: 40px;
  }
  .intro .title h1 {
    font-size: 40px;
  }
  .intro ul li {
    margin-bottom: 20px;
  }
  .intro ul li .img {
    margin-right: 15px;
  }
  .intro ul li .text h1 {
    font-size: 26px;
  }
  .intro ul li .text span {
    font-size: 12px;
  }
}

@media screen and (max-width: 1008px) and (min-width: 939px){
  .intro ul li {
    width: 220px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  .intro .title {
    padding-bottom: 20px;
  }
  .intro ul li .text .intro_title {
    padding-bottom: 5px;
    padding-top: 10px;
  }
  .intro ul li .text {
    margin-bottom: 0px;
    padding-left: 5px;
  }
  .intro ul li:last-child .text {
    width: 225px;
  }
}

@media screen and (max-width: 938px) {
  .intro ul li {
    width: calc(50% - 10px);
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  .intro ul li .text .intro_title {
    padding-bottom: 5px;
    padding-top: 10px;
  }
  .intro ul li .text {
    padding-bottom: 20px;
  }
  .intro ul li:last-child .text {
    width: 220px;
  }
}

@media screen and (max-width: 555px) {
  .intro ul li {
    width: 100%;
    align-items: flex-start;
    margin-bottom: 50px;
  }
  .intro ul li:nth-child(even) {
    align-items: flex-end;
    text-align: right;
  }
  .intro ul li .img {
    width: 260px;
    height: 429px;
    margin-right: 0px;
  }
  .intro ul li .img figure img {
    width: 260px;
    height: 429px;
    transform: scale(1);
  }
  .intro ul li .text {
    width: 300px;
  }
  .intro ul li:last-child .text {
    width: 300px;
  }
  .intro ul li .text .intro_title {
    padding-top: 15px;
  }
  .intro ul li .text span {
    font-size: 13px;
  }
}

/* portfolio */

.main_content {
  width: 100%;
  margin-top: 80px;
  position: relative;
}

.main_content::before {
  content: "";
  display: block;
  background: #f8f8f8;
  width: 200vw;
  height: 100%;
  position: absolute;
  top: 250px;
  left: -100vw;
}

.main_content .content_box {
  position: relative;
}

.main_content .content_box ul li {
  width: 100%;
}

.main_content .content_box ul li .img {
  width: calc(100% - 30px);
  max-width: 1200px;
  overflow: hidden;
  padding-bottom: 40px;
  margin: auto;
}

.main_content .content_box ul li:first-child .img {
  margin-left: 80px;
}

.main_content .content_box ul li:nth-child(3) .img {
  margin-left: 120px;
}

.main_content .content_box ul li .img figure img {
  width: 100%;
  transform: scale(1.3);
  transition: transform 0.3s;
}

.main_content .content_box ul li .text {
  width: calc(100% - 30px);
  max-width: 1200px;
  margin: auto;
}

.main_content .content_box ul li:nth-child(even) .text {
  text-align: right
}

.main_content .content_box ul li .text h1 {
  font-family: 'Marcellus', serif;
  font-size: 60px;
  font-weight: 400;
  display: inline-block;
  position: relative;
}

.main_content .content_box ul li .text h1::after {
  content: "";
  display: block;
  position: absolute;
  background: #222222;
  width: 0;
  height: 1.5px;
  bottom: 5px;
  left: 50%;
  transition: width 0.5s, left 0.5s;
}

.main_content .content_box ul li:hover .text h1::after {
  width: 100%;
  left: 0;
}

.main_content .content_box ul li .text p {
  font-size: 16px;
  line-height: 25px;
  letter-spacing: -0.32px;
  color: #666666;
  font-weight: 300;
}

.main_content .content_box ul li .text p strong {
  line-height: 45px;
  font-weight: 500;
}

.main_content .content_box ul li .hyperlink {
  width: calc(100% - 30px);
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 30px;
  margin-bottom: 250px;
}

.main_content .content_box ul li:nth-child(even) .hyperlink {
  justify-content: flex-end;
}

.main_content .content_box ul li .hyperlink a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  transition: background-color 0.4s;
  background-color: #222222;
  border-radius: 25px;
  border: 1px solid #222222;
}

.main_content .content_box ul li .hyperlink a span {
  color: white;
  font-weight: 300;
  transition: color 0.4s;
}

.main_content .content_box ul li .hyperlink a:hover {
  background-color: white;
}

.main_content .content_box ul li .hyperlink a:hover span {
  color: #222222;
}

@media screen and (max-width: 1350px) {
  .main_content .content_box ul li:first-child .img {
    margin: auto;
  }

  .main_content .content_box ul li:nth-child(3) .img {
    margin: auto;
  }

  .main_content .content_box ul li .hyperlink {
    margin-bottom: 180px;
  }
}

@media screen and (max-width: 1040px) {
  .main_content::before {
    width: 100vw;
    top: 150px;
    left: 0px;
  }
  .main_content .content_box ul li .img {
    padding-bottom: 10px;
  }
  .main_content .content_box ul li .text {
    padding: 0px 5px;
  }
  .main_content .content_box ul li .text h1 {
    font-size: 46px;
  }
  .main_content .content_box ul li .text p {
    font-size: 14px;
    line-height: 23px;
    padding-top: 10px;
  }
  .main_content .content_box ul li .text p strong {
    line-height: 40px;
  }
  .main_content .content_box ul li:nth-child(even) .text {
    text-align: left;
  }
  .main_content .content_box ul li:nth-child(even) .hyperlink {
    justify-content: flex-start;
  }
  .main_content .content_box ul li .hyperlink {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 870px) {
  .main_content::before {
    top: 100px;
  }
  .main_content .content_box ul li .text {
    padding: 10px 5px 0px;
  }
  .main_content .content_box ul li .text h1 {
    font-size: 32px;
  }
  .main_content .content_box ul li .text p {
    font-size: 13px;
    line-height: 22px;
  }
}
