main {
  width: 100%;
  max-width: 1920px;
  position: relative;
  background-image: url("../img/main/star_move.gif");
  background-repeat: repeat-y;
  background-size: contain;
  background-position: center center;
}

main .main_bg1, main .main_bg2 {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center 0px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

main .main_bg1 {
  background-image: url("../img/main/main01.png");
}

main .main_bg2 {
  background-image: url("../img/main/main02.png");
}

main .main_person {
  width: 280px;
  height: 300px;
  background-image: url("../img/main/person.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: fixed;
  left: calc(50% - 140px);
  top: 150px;
  z-index: 3;
  transform: scale(0.5) translateY(-80px);
  opacity: 0.3;
  transition: opacity 0.8s, transform 0.8s;
}

main .main_person_active {
  transform: scale(1) translateY(0px);
  opacity: 1;
}

@media screen and (max-width: 860px) {
  main .main_person {
    width: 220px;
    height: 234px;
    left: calc(50% - 110px);
    top: 150px;
  }
}

main section {
  position: relative;
  z-index: 11;
}

main .section_01 {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 70px;
  background-color: rgba(0, 0, 0, 0.6);
}

main .section_01 .text {
  padding-left: 30px;
}

main .section_01 .text h1 {
  display: inline;
  font-size: 70px;
  font-weight: 700px;
  line-height: 80px;
}

main .section_01 .text h1:nth-child(2) {
  opacity: 0;
  transform: scale(0.1);
  display: inline-block;
}

main .section_01 .text .active {
  animation: opening_01 1s 0.8s forwards;
}

@keyframes opening_01 {
  from {
    opacity: 0;
    transform: scale(0.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

main .section_01 .video video {
  width: 500px;
  height: 100%;
}

main .section_01 .video iframe {
  display: none;
}

@media screen and (max-width: 1330px) {
  main .section_01 .text {
    padding-left: 0px;
  }
  main .section_01 .text h1 {
    font-size: 60px;
    line-height: 70px;
  }
}

@media screen and (max-width: 1110px) {
  main .section_01 {
    padding: 0px 40px;
  }
  main .section_01 .text h1 {
    font-size: 48px;
    line-height: 58px;
  }
}

@media screen and (max-width: 970px) {
  main .section_01 {
    padding: 0px 15px;
  }
  main .section_01 .text h1 {
    font-size: 40px;
    line-height: 50px;
  }
}
@media screen and (max-width: 860px) {
  main .section_01 {
    padding: 100px 15px 0px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  main .section_01 .video {
    width: 100%;
    height: calc(100vh - 400px);
  }
  main .section_01 .video video{
    display: none;
    visibility: hidden;
    opacity: 0;
  }
  main .section_01 .video iframe {
    display: block;
  }
  main .section_01 .text {
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 600px) {
  main .section_01 .text h1 {
    font-size: 30px;
    line-height: 40px;
  }
  main .section_01 .video {
    height: calc(100vh - 350px);
  }
}

main .section_02 {
  width: 100%;
  padding: 150px 100px;
}

main .section_02 .text h1 {
  display: block;
  font-size: 70px;
  font-weight: 700px;
  line-height: 80px;
  padding-bottom: 20px;
  opacity: 0;
  transform: translateY(40px);
}

main .section_02 .text span {
  display: block;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  opacity: 0;
  transform: translateY(40px);
}

main .section_02 .text .active {
  animation: opening_02 1s forwards;
}

@keyframes opening_02 {
  from {
    opacity: 0.1;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media screen and (max-width: 1330px) {
  main .section_02 {
    padding: 150px 70px;
  }
  main .section_02 .text h1 {
    font-size: 60px;
    line-height: 70px;
  }
}
@media screen and (max-width: 1110px) {
  main .section_02 {
    padding: 150px 40px;
  }
  main .section_02 .text h1 {
    font-size: 48px;
    line-height: 58px;
  }
}
@media screen and (max-width: 970px) {
  main .section_02 {
    padding: 150px 15px;
  }
  main .section_02 .text h1 {
    font-size: 40px;
    line-height: 50px;
  }
  main .section_02 .text span {
    font-size: 18px;
    line-height: 28px;
  }
}
@media screen and (max-width: 860px) {
  main .section_02 {
    padding: 100px 15px 150px;
  }
  main .section_02 .text h1 {
    font-size: 40px;
    line-height: 50px;
  }
}
@media screen and (max-width: 600px) {
  main .section_02 .text h1 {
    font-size: 30px;
    line-height: 40px;
  }
  main .section_02 .text span {
    font-size: 16px;
    line-height: 26px;
  }
}

main .section_03 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .section_03 figure img {
  width: 600px;
}

main .main_bg3 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -100vh;
  left: 0;
  z-index: 2;
}

main .main_bg3 figure img {
  width: 600px;
}

@media screen and (max-width: 860px) {
  main .section_03 figure img {
    width: 305px;
  }
  main .main_bg3 figure img {
    width: 305px;
  }
}

main .section_video {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 500px;
  opacity: 0;
  transform: translateY(-150px);
  transition: opacity 0.6s, transform 0.6s;
}

main .section_video iframe {
  width: 800px;
  height: 500px;
  max-width: calc(100% - 30px);
}

@media screen and (max-width: 700px) {
  main .section_video iframe {
    height: 400px;
  }
}
@media screen and (max-width: 630px) {
  main .section_video iframe {
    height: 320px;
  }
}

main .section_video_active {
  opacity: 1;
  transform: translateY(0px);
}

main .section_04 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 500px;
  opacity: 0.5;
  transform: translateY(5px);
  animation: section_04 5s infinite alternate;
}

@keyframes section_04 {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

main .section_05 {
  width: 100%;
  background: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 300px 0px;
}

main .section_05 .img figure img {
  width: 500px;
  max-width: calc(100vw - 30px);
}

main .section_05 .shadow {
  width: 490px;
  max-width: calc(100vw - 40px);
  height: 490px;
  max-height: calc(100vw - 40px);
  box-shadow: 0px 0px 30px 30px rgba(224, 63, 43, 0.1);
  border-radius: 50%;
  position: absolute;
  animation: section_05 10s infinite alternate;
  opacity: 0;
  transform: scale(0.5) translateY(-80px);
  transition: transform 0.8s, opacity 0.8s;
}

@keyframes section_05 {
  from {
    box-shadow: 0px 0px 30px 30px rgba(224, 63, 43, 0.1);
  }
  15% {
    box-shadow: 0px 0px 30px 30px rgba(241, 126, 39, 0.1);
  }
  30% {
    box-shadow: 0px 0px 30px 30px rgba(253, 237, 5, 0.1);
  }
  45% {
    box-shadow: 0px 0px 30px 30px rgba(72, 249, 49, 0.1);
  }
  60% {
    box-shadow: 0px 0px 30px 30px rgba(31, 197, 192, 0.1);
  }
  75% {
    box-shadow: 0px 0px 30px 30px rgba(151, 59, 242, 0.1);
  }
  90% {
    box-shadow: 0px 0px 30px 30px rgba(219, 32, 116, 0.1);
  }
  to {
    box-shadow: 0px 0px 30px 30px rgba(255, 0, 0, 0.1);
  }
}

main .section_05 .img {
  opacity: 0;
  transform: scale(0.5) translateY(-80px);
  transition: transform 0.8s, opacity 0.8s;
}

main .section_05_active .shadow{
  opacity: 1;
  transform: scale(1) translateY(0px);
}

main .section_05_active .img{
  opacity: 1;
  transform: scale(1) translateY(0px);
}

main .section_05 .title {
  padding: 50px 0px;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .section_05 .title h1 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 400;
  display: inline-block;
}

main .section_05 .title h1:nth-child(2) {
  opacity: 0;
  transform: translateY(-20px);
  transition: all 1s 0.6s;
}

main .section_05_active .title h1:nth-child(2) {
  opacity: 1;
  transform: translateY(0px);
}

@media screen and (max-width: 1380px) {
  main .section_05 {
    padding: 200px 0px;
  }
}


@media screen and (max-width: 630px) {
  main .section_05 {
    padding: 150px 0px;
  }
  main .section_05 .title h1 {
    font-size: 26px;
    line-height: 36px;
  }
}

main .section_05 .content {
  width: 100%;
  padding: 0px 130px;
}

main .section_05 .content ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

main .section_05 .content ul li {
  border : 1px solid white;
  border-radius: 10px;
  padding: 50px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

main .section_05 .content ul li h1 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 400;
}

main .section_05 .content ul li span {
  font-size: 20px;
  line-height: 30px;
  margin-top: 30px;
}

main .section_05 .content ul li figure img {
  width: 100px;
}

main .section_05 .content ul .first_line {
  width: calc(50% - 30px);
  margin-bottom: 60px;
}

main .section_05 .content ul .second_line {
  width: calc(33% - 30px);
}

@media screen and (max-width: 1380px) {
  main .section_05 .content {
    padding: 0px 80px;
  }
}

@media screen and (max-width: 1280px) {
  main .section_05 .content ul li {
    padding: 40px 0px;
  }
  main .section_05 .content ul li h1 {
    font-size: 32px;
    line-height: 42px;
  }
  main .section_05 .content ul li span {
    font-size: 16px;
    line-height: 26px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 1080px) {
  main .section_05 .content {
    padding: 0px 40px;
  }
  main .section_05 .content ul li {
    padding: 30px 0px;
  }
  main .section_05 .content ul li h1 {
    font-size: 28px;
    line-height: 38px;
  }
  main .section_05 .content ul li span {
    font-size: 14px;
    line-height: 24px;
    margin-top: 15px;
  }
  main .section_05 .content ul li figure img {
    width: 75px;
  }
  main .section_05 .content ul .first_line {
    width: calc(50% - 15px);
    margin-bottom: 30px;
  }
  main .section_05 .content ul .second_line {
    width: calc(33% - 15px);
  }
}

@media screen and (max-width: 920px) {
  main .section_05 .content {
    padding: 5px 15px;
  }
  main .section_05 .content ul li {
    padding: 20px 0px;
  }
  main .section_05 .content ul li h1 {
    font-size: 26px;
    line-height: 36px;
  }
  main .section_05 .content ul li span {
    font-size: 11px;
    line-height: 21px;
    margin-top: 15px;
  }
  main .section_05 .content ul li figure img {
    width: 50px;
  }
  main .section_05 .content ul .first_line {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
  main .section_05 .content ul .second_line {
    width: calc(33% - 10px);
  }
}
